<% layout("/layouts/afterboiler.ejs") %>

  <body>
    <div class="bg-primary mob-bg d-none">
    </div>
    <main class=" main-content mb-4 animate__animated animate__fadeIn">
      <a href="/dashboard" class="logo d-none mob-block position-relative mb-4 mt-3 text-center "><img
          src="/assets/logo.svg" class="img-fluid w-50" /></a>

      <h4 class="fw-bold mt-2 mb-4 hide-mob hide-mob">Hello, <span>
          <%= user.name %>
        </span></h4>

      <div class="grids">
        <!-- money -->
        <div class="card p-4 d-flex flex-row justify-content-between money widItem">
          <div class="left">
            <h2 class="fw-bold text-primary">
              <%= formatCurrency(totalSpentAmount) %>
            </h2>
            <h6>Spent</h6>
          </div>

          <div class="right">
            <h2 class="fw-bold text-primary text-end">₹6,000</h2>
            <h6 class="text-end">Budget</h6>
          </div>
        </div>

        <!-- piechart -->
        <div class="card p-4 pie widItem" id="pieChart" data-expenses-by-category='<%= expensesByCategory %>'>
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="myPieChart"></canvas>
          </div>
          <!-- <h5 class="text-center">September</h5> -->
        </div>



        <!-- spend -->
        <div class="card p-4 spend widItem">
          <h5 class="mb-4 fw-bold">Recent Expenses</h5>
          <% if(lastThreeTransactions.length> 0) { %>
            <% lastThreeTransactions.forEach(element=> { %>
              <a href="#" class="spending-item mb-2 d-flex justify-content-between">
                <div class="d-flex align-items-center w-100">
                  <img src="/assets/categories/<%= element.category %>.jpg" class="rounded-2" alt="Food"
                    loading="lazy" />
                  <div class="flex-grow-1 d-flex justify-content-between">
                    <div class="spending-details ms-2 ">
                      <h6 class="m-0">
                        <%= element.category %>
                      </h6>
                      <p class="spending-date">
                        <%= element.datetime %>
                      </p>
                    </div>
                    <p class="fw-medium">
                      <%=formatCurrency(element.amount) %>
                    </p>
                  </div>
                </div>
              </a>
              <% }); %>
                <!-- See More Link -->
                <div class="text-end">
                  <a href="/expenses" class="text-primary fw-medium">See More</a>
                </div>
                <% } else { %>
                  <p>There are no recent Expenses.</p>
                  <% } %>


        </div>

        <!-- chart -->
        <div class="card p-4 chart widItem" id="weeklyExpenses"
          data-expenses-by-week='<%= JSON.stringify(weeklyExpenses) %>'>
          <div class="d-flex justify-content-center align-items-center"></div>
          <canvas id="myBarChart"></canvas>
        </div>


      </div>
    </main>

    <script src="/chart.js"></script>
  </body>